#parent{
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #E2E2E2;
}

#flowPane{
    /* -fx-background-color:  linear-gradient(to bottom, #f3faff, #d2edff); */
    -fx-background-color: #FFFFFF;
}

#temp{
    -fx-background-color: #73c06a;
    -fx-background-color: #c06a6a;
}



#next_month_btn, #prev_month_btn{
    /* -fx-background-color: #0BCCF4; */
    -fx-background-color: transparent;
    -fx-background-radius: 30;
}


#next_month_btn:hover, #prev_month_btn:hover{
    /* -fx-background-color: #0bb6d9; */
    -fx-background-insets: 0, 0, 2; /* Top, Right, Bottom insets */
    -fx-background-color: #E2E2E2;
}

.day{
    -fx-border-radius: 30;
}