@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

Text, .text, .text-field {
    -fx-font-family: "Roboto";
}

#parent{
    -fx-background-color: #FFFFFF;
}

Text{
    -fx-fill: #2E2E2E;
    -fx-font-size: 12px; 
}
.table-view .column-header .label {
    -fx-text-fill: #2E2E2E;
    -fx-font-size: 12px; 
}

.table-row-cell {
    -fx-text-background-color: #4E4E4E;
    -fx-font-size: 16px; 
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 30px 30px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-pref-height: 32px; /* Change to your desired header height */
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4E4E4E;
}

.table-view .column-header.sortable {
    -fx-padding: 16 0 16 0;
    -fx-cursor: hand;
}

.table-view .column-header.leftEdge {
    -fx-background-radius: 30px 0px 0px 0px;
}
.table-view .column-header.rightEdge {
    -fx-background-radius: 0px 30px 0px 0px;
}


.table-view .column-header.sortable:hover {
    -fx-background-color: #C2C2C2; 
}


.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #6E6E6E;
    -fx-background-color: transparent;
}

/* .table-row-cell: odd{
    -fx-background-color: #eaf7ff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
} */
.table-row-cell: even{
    -fx-background-color: #e7f6ff;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 4;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb, .table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color:  #0BCCF4;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb:hover, .table-view .virtual-flow .scroll-bar:horizontal .thumb:hover{
    -fx-background-color:  #0bb6d9;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb:pressed, .table-view .virtual-flow .scroll-bar:horizontal .thumb:pressed{
    -fx-background-color:  #0ba1bf;
    -fx-border-color: #A2A2A2; 
    -fx-border-width: 1px; 
    -fx-border-radius: 30px; 
}




.table-row-cell: hover {
    -fx-background-color: #0BCCF4;
}

#burger_btn, #back_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
}

#burger_btn:hover, #back_btn:hover{
    -fx-background-color: #E2E2E2;
}