@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

Text, .text, .text-field{
    -fx-font-family: "Roboto";
}

Text, .button .text{
    -fx-fill: #4E4E4E;
}

#pane{
    -fx-background-color:  rgba(25, 28, 31, 0.937)
}

#burger{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
}

#burger:hover{
    -fx-background-color: #6E6E6E;
}
#usertitle, #user_txt{
    -fx-fill: #E2E2E2;
}

.btn{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 4;
    -fx-background-insets: 0, 2, 2; /* Top, Right, Bottom insets */
    -fx-background-color: #E2E2E2;
    -fx-border-color: #0BCCF4;
}
.btn:hover{
    -fx-border-color: #0bb6d9;
    -fx-background-color: #c7c7c7;
    -fx-border-radius: 30;
}