@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

#root {
    -fx-background-color: #FFFFFF;
}

Text, .text, .text-field{
    -fx-fill: #4E4E4E; 
    -fx-font-family: "Roboto";
}

.password-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #4E4E4E;
}

Text, .password-field{
    -fx-font-size: 24px;
}
.text{
    -fx-font-size: 20px;
}


/* #0BCCF4 accent*/

#resort_name{
    -fx-fill: #2E2E2E;
    -fx-font-size: 48;
}

#resort_name2{
    -fx-fill: #2E2E2E;
    -fx-font-size: 24;
}

.toggle-button {
    -fx-background-color: #E2E2E2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 2.5);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
/* 160
176 */


.toggle-button:hover {
    /* -fx-rotate: 20deg; */
    -fx-background-color: #C2C2C2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 5);
    -fx-pref-width: 168;
    -fx-pref-height: 184;
}

.toggle-button:selected {
    -fx-background-color: #0BCCF4;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 14);
    -fx-pref-width: 176;
    -fx-pref-height: 192;
}


.toggle-button:selected:hover {
    -fx-background-color: #0bb6d9;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 14);
    -fx-pref-width: 176;
    -fx-pref-height: 192;
}


.text-field {
    -fx-border-color: #6E6E6E;
    -fx-background-insets: 0;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.text-field:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 4);
}

.text-field:focused {
    -fx-effect: dropshadow(three-pass-box, #0BCCF4, 5, 0, 0, 4);
}

#login_btn, #submit_btn {
    -fx-background-color: #0BCCF4;
    -fx-pref-width: 176;
    -fx-pref-height: 52;
}
#login_btn:hover, #submit_btn:hover{
    -fx-background-color: #0bb6d9;
}

#exit_btn{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #0BCCF4;
}

#exit_btn:hover{
    -fx-background-color: #e5e5e5;
    -fx-border-color: #0bb6d9;
}

#changePw_btn, #forgotPw_btn, #cancel_btn{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #2E2E2E;
}

#changePw_btn:hover, #forgotPw_btn:hover, #cancel_btn:hover{
    -fx-background-color: #e5e5e5;
    -fx-border-color: #474747;
}

#changePw_btn .text, #forgotPw_btn .text{
    -fx-font-size: 16px;
}

.button{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 4px;
    -fx-background-insets: 0, 0, 2;
    }

.image-view{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}